<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>
    <h4>List of department in system: <span th:text="${departments.size}"></span></h4>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Users</th>
            <th>Hold</th>
            <th>Action</th>
        </tr>
        <tr th:each="department : ${departments}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.name}"></td>
            <td>
                <span th:each="user: ${department.users}" th:text="${user.name} + ','"></span>
            </td>
            <td th:text="${department.users.size}"></td>
            <td>
                <form th:action="@{'/api/v1/departments/delete/' + ${department.id}}" method="get">
                    <button th:text="#{button.delete}"></button>
                </form>
                <form th:action="@{'/api/v1/departments/update/' + ${department.id}}" method="get">
                    <button th:text="#{button.update}"></button>
                </form>
            </td>
        </tr>
    </table>

    <form action="/api/v1/departments/show-department-add-form" method="get">
        <button type="submit">Add department</button>
    </form>

    <form action="/api/v1/users/list" method="get">
        <button type="submit">Show users</button>
    </form>
</body>
</html>